
<!DOCTYPE html>
<html>
<head>
  <title>Med Review Form</title>
</head>
<body>
  <h1>Med Review Form</h1>
  {% if error %}
    <p style="color: red;">{{ error }}</p>
  {% endif %}
  <form action="/med-review" method="POST">
    <!-- End point can accept ICD 10 codes or disease, one is required. Sending both will reject. -->
    <!-- 
    <label for="icd10">ICD 10 codes:</label>
    <input type="text" id="icd10" name="icd10_codes" required placeholder="C50, I20">
    <p> Enter up to 10 codes separated by commas</p>
    --> 
    <label for="diseases">Medical Conditions:</label>
    <input type="text" id="diseases" name="diseases" placeholder="Diabetes, HTN">
    <p> Enter up to 10 diseases separated by commas</p>
    <br><br>
    <label for="drugs">Medications:</label>
    <input type="text" id="drugs" name="drugs" placeholder="liptior 10mg daily, norvasc 5mg daily">
    <p> Enter up to 15 drugs separated by commas</p>
    <br><br>
    <!-- notes test field -->
    <label for="notes">Notes:</label>
    <textarea id="notes" name="notes" rows="4" cols="50" placeholder="Enter notes here"></textarea>
    <br><br>
    <!-- focus -->
    <label for="focus">Focus:</label>
    <select id="focus" name="focus">
      <option value="" selected disabled>Select an option</option>
      <option value="HIV">HIV</option> 
      <option value="Sickle Cell">Sickle Cell</option>
      <option value="Bipolar Disorder">Bipolar Disorder</option>
      <option value="Depression">Depression</option>
      <option value="Schizophrenia">Schizophrenia</option>
    </select>
    <br><br>
    <!-- patient case -->
    <label for="patient_case">Patient case:</label>
    <textarea id="patient_case" name="patient_case" rows="4" cols="50" placeholder="Patient with a history of Diabetes Mellitus and on the following medications: Metformina one daily 100"></textarea>
    <br><br>
    <input type="submit" value="Submit">
  </form>
</body>
</html>
